* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
header {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.buttonHome {
    padding: 10px;
    border: none;
    background-color:crimson;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
img {
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
main {
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
.input-wrapper {
    border: none;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    
    
}
.inputSearch {
    height: 100%;
    outline: none;
    padding: 10px;
    width: 90%;
    border: none;
    
}
.countries {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    gap: 10px;

    
    
   
    
}
.countriesSquares {
    border-radius: 10px;
    height: 300px;
    width: 320px;
    background-color: white;
    margin: auto;
}
.flag {
    width: 320px;
    height: 210px;
    border-radius: 10px;
}
