<div class="container mt-4 menuContainer">
    <a href="cards/create"><button class="btn btn-danger">Create a card</button></a>
    <a href="cards/"><button class="btn btn-success">Show Cards</button></a>
</div>