<main>
        <h3>LOGIN</h3>
        <form action="/rota" method="POST">
            <label for=""> 
                Name
            </label>
            <input class="inputName" name="name" type="text">
            <br>
            <label for=""> 
                Email
            </label>
            <input class="inputEmail" name="email" type="text">
            <button type="submit">LOGIN</button>        
            </form>
        
</main>